@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#a1acd9), color-stop(#f0cbc5), color-stop(#f39eb2), to(#a1acd9));
  background: linear-gradient(#a1acd9, #f0cbc5, #f39eb2, #a1acd9);
  color: #353639;
}

main {
  position: relative;
}

main .progress {
  position: fixed;
  width: 100%;
  height: 2px;
  background-color: #384999;
  z-index: 10000;
}

main .progress .progressBar {
  position: fixed;
  width: 0%;
  background: #a1acd9;
  height: 2px;
  z-index: 10001;
  -webkit-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

section {
  position: relative;
  width: 100%;
}

section strong.boxTitle {
  margin: 40px 0 0;
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
}

@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

section strong.boxTitle .blink {
  color: #f39eb2;
  -webkit-animation: blink-effect 1s step-end infinite;
          animation: blink-effect 1s step-end infinite;
  /*
      animation-name: blink-effect;
      animation-duration: 1s;
      animation-iteration-count:infinite;
      animation-timing-function:step-end;
      */
}

section.mainBox {
  padding-bottom: 50px;
}

section.mainBox h1.title {
  position: fixed;
  text-align: center;
  color: #fff;
  font-size: 2.7rem;
  padding-top: 20vh;
  width: 400px;
  left: calc(50% - 200px);
}

section.mainBox .imageWrap {
  height: 100vh;
}

section.mainBox .imageWrap .parallax_image {
  position: fixed;
  width: 100%;
  height: inherit;
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -webkit-perspective: 300px;
          perspective: 300px;
}

section.mainBox .imageWrap .parallax_image:nth-child(1) {
  background-image: url(../image/main/main_0.png);
}

section.mainBox .imageWrap .parallax_image:nth-child(2) {
  background-image: url(../image/main/main_1.png);
}

section.mainBox .imageWrap .parallax_image:nth-child(3) {
  background-image: url(../image/main/main_2.png);
}

section.mainBox .imageWrap .parallax_image:nth-child(4) {
  background-image: url(../image/main/main_3.png);
}

section.mainBox .imageWrap .parallax_image:nth-child(5) {
  background-image: url(../image/main/main_4.png);
  background-size: cover;
}

section.subBox {
  margin-top: 400px;
}

section.subBox .innerWrap {
  position: relative;
}

section.subBox .innerWrap .contWrap {
  margin: 0 auto;
  padding: 20px 40px;
  width: 700px;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  background-color: #fff;
  -webkit-box-shadow: 20px 30px 0px #6275b7;
          box-shadow: 20px 30px 0px #6275b7;
}

@media only screen and (max-width: 768px) {
  section.subBox .innerWrap .contWrap {
    width: 100%;
  }
}

section.subBox .innerWrap .contWrap strong.boxTitle {
  color: #27347e;
}

section.subBox .innerWrap .contWrap p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2;
}

section.QnA {
  margin-top: 400px;
}

section.QnA .innerWrap {
  position: relative;
}

section.QnA .innerWrap .contWrap {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px;
  width: 700px;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  background-color: #fff;
  -webkit-box-shadow: -20px 30px 50px rgba(151, 105, 107, 0.8);
          box-shadow: -20px 30px 50px rgba(151, 105, 107, 0.8);
}

@media only screen and (max-width: 768px) {
  section.QnA .innerWrap .contWrap {
    width: 100%;
  }
}

section.QnA .innerWrap .contWrap::after {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: -5.8rem;
  left: 3rem;
  background: url(../image/common/qna-w.png) no-repeat;
  background-size: 3rem;
}

section.QnA .innerWrap .contWrap p {
  position: relative;
  font-size: 1.5rem;
  line-height: 2;
}

section.QnA .innerWrap .contWrap p.Question {
  margin: 0 0 2rem;
}

section.QnA .innerWrap .contWrap p.Question > em {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  color: #f39eb2;
}

section.QnA .innerWrap .contWrap p.Answer {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px 40px 60px;
  width: 700px;
  border-radius: 1.5rem;
  background-color: #fee9e2;
  -webkit-box-shadow: 0px 10px 10px rgba(151, 105, 107, 0.4);
          box-shadow: 0px 10px 10px rgba(151, 105, 107, 0.4);
}

section.QnA .innerWrap .contWrap p.Answer::after {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: -5.8rem;
  right: 3rem;
  background: url(../image/common/qna-y.png) no-repeat;
  background-size: 3rem;
}

section.QnA .innerWrap .contWrap p.Answer > em {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  color: #384999;
}

section.QnA .innerWrap .contWrap p.Answer > span {
  display: inline-block;
  position: relative;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 1.5rem;
  background-color: #f8c7d2;
  background: linear-gradient(145deg, #d7dbe9, #f8c7d2);
}

section.midBox1 {
  margin-top: 300px;
}

section.midBox1 > .innerWrap {
  position: relative;
  color: #fff;
  background-color: #384999;
}

section.midBox1 > .innerWrap > .contWrap {
  margin: 0 auto;
  padding: 20px 40px;
  width: 700px;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  section.midBox1 > .innerWrap > .contWrap {
    width: 100%;
  }
}

section.midBox1 > .innerWrap > .contWrap > p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2;
}

section.midBox2 {
  margin-top: 500px;
}

section.midBox2 > .innerWrap {
  position: relative;
  color: #fff;
  background-color: #f39eb2;
}

section.midBox2 > .innerWrap > .contWrap {
  margin: 0 auto;
  padding: 20px 40px;
  width: 700px;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  section.midBox2 > .innerWrap > .contWrap {
    width: 100%;
  }
}

section.midBox2 > .innerWrap > .contWrap > p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2;
}

section.lastBox {
  margin-top: 400px;
}

section.lastBox > .innerWrap {
  position: relative;
  color: #27347f;
  background: #d4dcf1;
  border-top: 3rem solid #27347f;
}

section.lastBox > .innerWrap > .contWrap {
  margin: 0 auto;
  padding: 20px 40px 80px;
  width: 700px;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  section.lastBox > .innerWrap > .contWrap {
    width: 100%;
  }
}

section.lastBox > .innerWrap > .contWrap > p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2;
}

section.lastBox > .innerWrap > .contWrap > p > button {
  min-width: 20rem;
  height: 5rem;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fee9e2;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 0.3rem solid #fee9e2;
  border-radius: 10rem;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

section.lastBox > .innerWrap > .contWrap > p > button:hover {
  border: 0.3rem solid #384999;
  color: #384999 !important;
}

section.lastBox > .innerWrap > .contWrap > p > button::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #f39eb2;
  position: absolute;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

section.lastBox > .innerWrap > .contWrap > p > button::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #384999;
  position: absolute;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

section.lastBox > .innerWrap > .contWrap > p > button:hover::before,
section.lastBox > .innerWrap > .contWrap > p > button .btn1O:hover::before {
  opacity: 1;
  width: 116%;
}

section.lastBox > .innerWrap > .contWrap > p > button:hover::after,
section.lastBox > .innerWrap > .contWrap > p > button .btn1O:hover::after {
  opacity: 1;
  width: 120%;
}

.tc {
  text-align: center;
}
